

<header class="max-w-[1440px] mx-auto p-8 flex justify-between items-center">
  <img src="/logo.png" alt="Astro Logo" class="w-auto h-[70px]"  />

  <a class=" text-lg font-semibold bg-blue-600 text-white hover:bg-blue-700 hover: rounded-full py-2 px-4" href="#">Crea tu Cuenta</a>
</header>
